body {
    box-sizing: border-box;
    margin: 0;

    .background-wrapper {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        width: 100vw;
        margin: 0;
        overflow: hidden;

        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-image: url(images/dark-blue.jpg);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            filter: blur(2px); 
            z-index: -1;
        }

        .login-wrapper  {
            position: relative;
            backdrop-filter: blur(2px) saturate(180%);
            -webkit-backdrop-filter: blur(2px) saturate(180%);
            background-color: rgba(255, 255, 255, 0.75);
            border-radius: 12px;
            border: 1px solid rgba(209, 213, 219, 0.3);
            box-shadow: 15px 15px 30px 7px rgba(0, 0, 0, 0.3);
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 30px 50px;
            animation: scale-up-bottom 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;

            &.no-login-animation {
                animation: none;
            }

            form {
                width: 320px;
                display: flex;
                flex-direction: column;
                gap: 16px;
            }

            .login-input {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                input {
                    width: 100%;
                    height: 40px;
                    display: flex;
                    box-sizing: border-box;
                    border: 0.5px solid gray;
                    border-radius: 8px;
                    font-size: 12px;
                    padding-left: 10px;
                    &:hover{
                        border-color: rgb(71, 71, 255);
                   }
                }


                button {
                    height: 40px;
                    width: 100%;
                    border-radius: 8px;
                    border: 0.5px solid gray;
                    background-color: rgb(55, 55, 254);
                    color: #ffffff;

                    &:hover {
                        background-color: rgb(71, 71, 255);
                        color: #ffffff;
                    }
                }

                p {
                    display: flex;
                    margin: 0px 0px 10px 0px;
                    font-size: 13px;
                }

                &.login-links {
                    padding: 0px 10px 0px 10px;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                }
            }

            .h2 {
                font-size: 18px;
                text-align: center;

                h2 {
                    margin: 0 0 12px 0;
                }

                .form-message {
                    min-height: 20px;
                    margin: 0;
                    color: red;
                    font-size: 15px;
                    line-height: 20px;
                }
            }
        }
    }
}
@keyframes scale-up-bottom {
    0% {
      transform: scale(0.7);
      transform-origin: 50% 100%;
    }
    100% {
      transform: scale(1);
      transform-origin: 50% 100%;
    }
  }
